p {
	font-face: Verdana, Arial;
	font-size: 26px;
	letter-spacing: 1.2px;
}
li {
	font-size: 	26px;
}

/*
#coupon {
	width: 600px;
	height: 300px;
	border: 2px dotted #000000;
}

*/

